$def with(trade_date,detail_map,stock_name_map,stock_daily_map)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定制日报</title>
</head>
<body>
<h1>日期：$trade_date</h1><br>
<table>
    <th>
        <h3>上涨:</h3>
    </th>
    <th>
        $detail_map['up_stock_cnt']
    </th>
    <th>
        <h3>下跌:</h3>
    </th>
    <th>
        $detail_map['down_stock_cnt']
    </th>
    <th>
        <h3>持平:</h3>
    </th>
    <th>
        $detail_map['flat_stock_cnt']
    </th>
</table>

<table>
    <th>
    <td>
        上涨详情分布:
    </td>
    <td>
        个数
    </td>
    <td>
        ts_code
    </td>
    </th>
    <tr>
        <td>上涨1%区间</td>
        <td>$detail_map['up_0_1_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_0_1_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]
		        (
                $stock_daily_map[ts_code]['pct_chg']
		        )
		</a>
        </td>
    </tr>
    <tr>
        <td>上涨2%区间</td>
        <td>$detail_map['up_1_2_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_1_2_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨3%区间</td>
        <td>$detail_map['up_2_3_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_2_3_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨4%区间</td>
        <td>$detail_map['up_3_4_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_3_4_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨5%区间</td>
        <td>$detail_map['up_4_5_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_4_5_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨6%区间</td>
        <td>$detail_map['up_5_6_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_5_6_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨7%区间</td>
        <td>$detail_map['up_6_7_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_6_7_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨8%区间</td>
        <td>$detail_map['up_7_8_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_7_8_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
    <tr>
        <td>上涨9%区间</td>
        <td>$detail_map['up_9_stock_cnt']</td>
        <td>
            $for ts_code in detail_map['up_9_stock_set'].split(','):
                $ sina_name = ts_code.split(".")[1].lower()+ts_code.split(".")[0]
                <a href="https://finance.sina.com.cn/realstock/company/$sina_name/nc.shtml">
                $stock_name_map[ts_code]</a>
        </td>
    </tr>
</table>

</body>
</html>
