$def with(trade_date,stock_continue_high_list,stock_basic_map,stock_daily_basic_map)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定制日报</title>
</head>
<body>
<style type="text/css">
    .demo {
        font-size: 18px;
    }

    .super span {
        vertical-align: text-top;
        font-size: 4px;
        color: red;
    }
</style>


<h1>日期：$trade_date</h1><br>
<table>
    <th>
        ts_code
    </th>
    <th>
        name
    </th>
    <th>
        涨停次数
    </th>
    <th>
        涨停日期
    </th>
    $for item in stock_continue_high_list:
    <tr>
        <td>
            $ ts_code_str = item['ts_code'].split(".")[0]
            <a href="http://stockpage.10jqka.com.cn/$ts_code_str/">
            $item['ts_code']
            </a>
        </td>
        <td>
            <div class="demo">
            <div class="super">
            $item['name']
            <span>
            $stock_basic_map[item['ts_code']]['industry']
            </span>
            </div>
            </div>
        </td>
        <td>
            $item['cnt']
        </td>
        <td>
            $item['trade_date_list']
        </td>
    </tr>
</table>

</body>
</html>
